#ClockContainer {
    position: relative;
    margin: auto;
    background-color: tomato;
    height: 40vw;
    width: 40vw;
    background: url(clock1.gif) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1%;
    height: 22%;
    top: 29%;
    left: 49.45%;
     
}

#minute {
    width: 0.9%;
    height: 30%;
    top: 20%;
    left: 49.56%;
    opacity: 0.8;
    
    
}

#second {
    width: 0.7%;
    height: 37%;
    top: 12%;
    left: 49.56%;
    opacity: 0.8;
    
}